<header class="header-section">
  <div class="header-container">
    <nav class="header-navigation">
      <a href="#" class="yachtjet-logo">yachtjet</a>
      <ul class="header-button-list">
        <li class="header-button-list-item">
          <a class="header-button-link" href="#about">About</a>
        </li>
        <li class="header-button-list-item">
          <a class="header-button-link" href="#our_yachts">Yachts</a>
        </li>
        <li class="header-button-list-item">
          <a class="header-button-link" href="#reviews">Reviews</a>
        </li>
      </ul>
      <ul class="nav-list">
        <li class="nav-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-icons"
            target="_blank"
          >
            <svg width="20" height="20">
              <use href="./img/icons.svg#instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-icons"
            target="_blank"
          >
            <svg width="20" height="20">
              <use href="./img/icons.svg#youtube-icon"></use>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-icons"
            target="_blank"
          >
            <svg width="20" height="20">
              <use href="./img/icons.svg#facebook-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="header-burger" data-menu-open>
        <svg class="header-icon-open" width="28" height="28">
          <use href="./img/icons.svg#burger-menu-icon"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div class="mobile-menu is-hidden" data-menu>
    <nav class="menu-navigation">
      <a href="#" class="yachtjet-logo">yachtjet</a>
      <button type="button" class="cross-button" data-menu-close>
        <svg class="header-icon-close" width="16" height="16">
          <use href="./img/icons.svg#close-icon"></use>
        </svg>
      </button>
    </nav>
    <ul class="menu-buttons-list">
      <li class="menu-buttons-list-item">
        <a class="menu-button-link" 
        href="#about" 
        data-menu-close-and-navigate-about>
          About
        </a>
      </li>
      <li class="menu-buttons-list-item">
        <a
          class="menu-button-link"
          href="#our_yachts"
          data-menu-close-and-navigate-yachts
        >
          Yachts
        </a>
      </li>
      <li class="menu-buttons-list-item">
        <a
        class="menu-button-link"
          href="#reviews"
          data-menu-close-and-navigate-reviews
        >
          Reviews
        </a>
      </li>
    </ul>
    <ul class="menu-icons">
      <li class="menu-icon">
        <a
          href="https://www.instagram.com/goitclub/"
          class="header-icons"
          target="_blank"
        >
          <svg class="menu-icon" width="24" height="24">
            <use href="./img/icons.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="menu-icon">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header-icons"
          target="_blank"
        >
          <svg class="menu-icon" width="24" height="24">
            <use href="./img/icons.svg#youtube-icon"></use>
          </svg>
        </a>
      </li>
      <li class="menu-icon">
        <a
          href="https://www.facebook.com/goITclub/"
          class="header-icons"
          target="_blank"
        >
          <svg class="menu-icon" width="24" height="24">
            <use href="./img/icons.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>